@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
 

  html,
  body {
    @apply bg-[#38488c] text-white  ;
  }

  .container-wrapper {
    @apply max-w-[1240px] w-[90%] mx-auto;
  }
 

}


.asul-regular {
  font-family: "Asul", serif;
  font-weight: 400;
  font-style: normal;
}

.asul-bold {
  font-family: "Asul", serif;
  font-weight: 700;
  font-style: normal;
}


.bg-main{
  background-image: url(/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
